<p>There are {{tasks.length}} task(s).
</p>

<p>
  <button class="btn btn-primary" ng-click="my_filter={creator_id:myId}">My Tasks</button>
  <button class="btn btn-primary" ng-click="my_filter={}">All</button>
</p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Creator</th>
      <th>Repo</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody ng-repeat='task in tasks | filter:my_filter'>
  <tr class="success">
    <td><a href="" ng-click="task.hidden = !task.hidden">{{task.name}}</a></td>
    <td>{{task.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    <td>{{task.creator.email}}</td>
    <td>{{task.jobs[0].repo_url}}</td>
    <td>{{task.description}}</td>
  </tr>
  <tr ng-class="{hide:task.hidden==true}" ng-init="task.hidden=true" >
    <td></td>
    <td colspan="4">
      <!-- Embedded table -->
      <table class="subtable">
        <tr ng-repeat="job in task.jobs">
          <td>Job-{{job.no}}</td>
          <td>{{getWorkstation(job)}}</td>
          <td>{{getProductInfo(job)}}</td>
          <td>{{getSerial(job)}}</td>
          <td>{{job.status}}</td>
        </tr>
      </table>

      <!-- div id="t_row" class="p_job" ng-repeat="job in task.jobs">
        <div id="t_left">No.</div>
        <div id="t_left">Time</div>
        <div id="t_left">Status</div>
      </div>
      <div id="t_container">
        <div id="t_row" class="p_job" ng-repeat="job in task.jobs">
          <div id="t_left">Job-{{job.no}}</div>
          <div id="t_left">{{job.created_at}}</div>
          <div id="t_left">{{job.status}}</div>
        </div>
      </div -->
  </tr>
  </tbody>
</table>

<br>
